.toolbar {
    margin-bottom: 30px;
    display: flex;
    flex-grow:

    &-title, &-content {
        display: block;
        margin-left: 20px;
    }

    &-title {
        flex-grow: 4;
    }

    &-content {
        flex-grow: 2;
        display: inline-block;
        text-align: right;
    }
}